@charset "UTF-8";
/* CSS Document font-family: 'Quicksand', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Poppins', sans-serif;*/

	/* **********
	I usually do this to both the html and the body elements, as a general reset. 
	That way I can be sure that everything will take up all of the screen. 
	********** */
html, 
body 
{
	width: 100%;
	height: 100%;
}

	/* **********
	Adding CSS to the * symbol tells it to apply that style to EVERYTHING.
	It can still be overridden in the rest of the code, but it's a good way
	to set a base style.

	With this line of code, when you set a width to an element (such as a div), 
	the padding and border will be included with it. So basically, it makes it
	so that an elements width = width + border-width + left/right-padding.
	
	Before, if you had a div with a width of 100px, a left and right padding of
	25px, and a border on the left and right width a border-width of 5px,
	the total width would have been 160px.

	5px left border + 25px left padding + 100px space + 25px right padding + 5px right border

	With box-sizing: border-box, that original 100px div includes that other stuff.

	5px left border + 25px left padding + 40px space + 25px right padding + 5px right border

	It's a shift in thinking. Instead of managing external space, you are managing
	internal space. But it makes spacing and aligning multiple elements so much easier.

	Also, I reset the margin and padding on everything to 0. 
	This helps prevent me from running into any unexpected spacing issues later.
	********** */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

p {
	font-family: 'Quicksand', sans-serif;
}
h2
{
	font-family: 'Poppins', sans-serif;
	
}
h3
{
	color: #61BAC1;
	font-family: 'Roboto', sans-serif;

}
/*The navbar */
nav 
{
	overflow: hidden;
	background-color: #000000;
	position: fixed;
	top: 0;
	width: 100%;	
}

	/* **********
	Floating the entire <ul> to the right.
	********** */
nav ul {
	float: right; /* Floating the entire parent container instead of individual elements can make things easier to manage and align. */
	height: 100%; /* Make sure that the unordered list <ul> takes up the complete vertical space that appears in the <nav> tag. */
}

	/* **********
	Aligning nav elements horizontally.
	You can also apply styling to the <li> and 
	style for different "states" as well, like
	you might due when you hover over an <a> tag.
	********** */
nav ul li {
	display: inline-block; /* Inline-block mixes the benefits of block styling and inline alignment. */
	height: 100%; /* Make sure that the list items <li> take up the complete vertical space that appears in the <ul> tag. */
	background-color: transparent; /* Make sure that the default background color is whatever the <nav> navbar is. */
}

	/* **********
	As mentioned previously, you can style just about
	any element based on its "state", such as if you
	are hovering over it or not.
	********** */
nav ul li:hover {
	background-color: red;  /* Setting a generic background color for when you hover over the <li> tag. */
}


/* the links */
nav a
{
	/* float: right; */  /* Killed this in favor of floating the entire grandparent <ul> container. */
	display: block;
	color: #DDD6E1;
	text-align: center;
	padding: 20px;
	text-decoration: none;
	font-size: 20px; 
    font-family: 'Quicksand', sans-serif;
}

nav a:hover
{
	/* background: #ddd; */ /* background lights up grey */  /* Killed this in favor of styling the parent <li> tags. */
	color: black; /*text goes black */	
}


.main
{	width: 50%;
	margin-top: 100px;
	margin-left: 60px;
	margin-right: 20px;
	padding-right: 5px; 
	border: 1px solid;
	border-left-color: #FFFFFF;
	border-top-color: #FFFFFF;
	border-right-color: #FFFFFF;
	border-bottom-color: #888888;
	float: left;
	
	
}

.extra
{
	display: block;
	float: right;
	width: 30%;
	margin-left: 5px;
	margin-right: 5px;
	padding: 0;
	padding-right: 5px;
	text-align: center;
}

.section
{	
	margin-top: 100px;
	width: 25%;
	font-size: 15px;
	margin: 30px;
	
		
}
.section a 
{
	display: block;
	color: #969696;
	text-align: center;
	padding: 10px;
	text-decoration: none;
	font-size: 15px; 
    font-family: 'Quicksand', sans-serif; 
		
}
.section a:hover
{
	background: rgb(100,200,250,.07);
	color: #212020;
	
	
		
}